<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="kr.co.forspace.mapper.RoomMapper">

	<resultMap type="kr.co.forspace.room.RoomDTO" id="roomMap">
		<result column="RO_NO" property="roNo"/>
		<result column="SC_NO" property="scNo"/>
		<result column="RO_NAME" property="roName"/>
		<result column="RO_FLOOR" property="roFloor"/>
		<result column="RO_MAX" property="roMax"/>
		<result column="RO_START" property="roStart"/>
		<result column="RO_CLOSE" property="roClose"/>
		<result column="RO_LIMIT" property="roLimit"/>
		<result column="RO_REGDATE" property="roRegdate"/>
		<result column="RO_LIKECNT" property="roLikecnt"/>
	</resultMap>
	
	<resultMap type="kr.co.forspace.room.LikeItDTO" id="likeMap">
		<result column="LI_NO" property="liNo"/>
		<result column="ME_EMAIL" property="meEmail"/>
		<result column="RO_NO" property="roNo"/>
	</resultMap>
	
	<select id="getLikeInfo" parameterType="kr.co.forspace.room.LikeItDTO" resultType="int">
		SELECT COUNT(ME_EMAIL)
		FROM LIKEIT WHERE RO_NO = #{roNo} AND ME_EMAIL = #{meEmail}
	</select>
	
	<select id="getLike" parameterType="int" resultType="int">
		SELECT COUNT(LI_NO)
		FROM LIKEIT WHERE RO_NO = #{roNo}
	</select>

	<select id="selectFloor" parameterType="int" resultMap="roomMap">
		select ro_no, ro_name
		from room
		where ro_floor = 
			<choose>
				<when test="roFloor == 0">
				(SELECT MIN(RO_FLOOR) FROM ROOM WHERE SC_NO = #{scNo})
				</when>
				<otherwise>
				#{roFloor}
				</otherwise>
			</choose>
		and sc_no = #{scNo}
	</select>
	
<!-- 	<select id="roomNoList" parameterType="int" resultMap="roomMap">
		SELECT RO_NO, RO_NAME 
		FROM ROOM
		WHERE RO_FLOOR = (SELECT MIN(RO_FLOOR) FROM ROOM WHERE SC_NO = #{scNo})
	</select> -->
		
<!-- 	<select id="roomNoList" parameterType="int" resultType="String">
		SELECT RO_NAME
		FROM room
		WHERE SC_NO = #{scNo}
	</select> -->
	
	<select id="floorList" parameterType="int" resultType="int">
		SELECT RO_FLOOR
		FROM room
		WHERE SC_NO = #{scNo}
		GROUP BY RO_FLOOR
		ORDER BY RO_FLOOR ASC
	</select>
	
	<select id="roomDetail" parameterType="int" resultMap="roomMap">
		SELECT RO_NO, SC_NO, RO_NAME, RO_FLOOR, RO_MAX, RO_START, RO_CLOSE, RO_LIMIT, RO_REGDATE
		FROM room
		WHERE RO_NO = #{roNo}
	</select>

</mapper>